{% trans_default_domain 'FOSUserBundle' %}

<div class="form">
    <form action="{{ path("fos_user_security_check") }}" class="loginForm active" method="post">
        <h1 class="headline">login to your account</h1>
        
        {% if error %}
            <span class="alert alert-danger mx">
                <!--{{ error.messageKey|trans(error.messageData, 'security') }}-->
                Username / Password Incorrect
            </span>
        {% endif %}
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <input type="text" id="username" name="_username" class="form-control mt-3 mx" placeholder="Username">
        <input type="Password" id="password" name="_password"  class="form-control mt-3 mx" placeholder="Password">
        <input type="checkbox" hidden checked id="remember_me" name="_remember_me" value="on" />
        <input type="submit" value="Login" id="_submit" name="_submit" class="btn mx mt-3 btn-submit">
        <a href="#" class="mini-link mt-2" id="js-forget-password">Forgot password?</a>
        <span class="or mt-3">OR</span>
        <div class="social-media">
            <a href="#"class="google mt-3 mx">
                <img src="{{ asset('assets/images/search.svg')}}" alt="google">
                <span>Google</span>
            </a>
            <a href="#" class="facebook mt-3 mx">
                <img src="{{ asset('assets/images/facebook-logo.svg')}}" alt="facebook">
                <span>Facebook</span>
            </a>
        </div>
        <div class="under-form">
                <a href="{{ path('fos_user_registration_register') }}">Create new  account</a>
        </div>
    </form>
    <form class="PasswordRessetForm">
        <h1 class="headline" >Forget Your Password?</h1>
        <div class="mx activeDiv" id="sendEmailInput">
            <label id="jsLabelReset">Enter your email or username</label>
            <input type="text" class="form-control " id="resetPasswordInput" placeholder="Email or Username">
            <input type="submit" value="Reset my password" id="sendForget"class="btn mx mt-3 btn-submit">
        </div>
        <div id="sendEmailLoading" >
            <!-- this is the loading animation-->
            <div class="loading-ring"><div></div><div></div><div></div><div></div></div>
        </div>
        <div id="sendEmailValid">
            <i class="fas fa-check"></i>
            <h3>An email has been sent to you if you don't find it check the spam</h3>
        </div>
        <div id="sendEmailInvalid">
            <i class="fas fa-times"></i>
            <h3>You can only send one reset password each 2hours</h3>
        </div>
        
        <a href="#" class="mini-link" id="BackLogin">Back to Login</a>
    </form>
</div>